extends layout.pug
 
block content
  div.container 
   h1 All notes

    each note in notes 
      div.note-wrapper
        a.note(href=`/notes/${ note.id }`) #{note.title}  

        form(action=`/notes/edit/${ note.id }` method="POST")
          button.edit Edit 

        form(action=`/notes/delete/${ note.id }` method="POST")
          button.delete Delete 
             
