extends layout.pug
 
block content 
  .container 
     h1 Create note
     
     if error 
       p.error Some error occured! Try again!

     if success 
       p.success Note is created!   

     form.form(action="/notes/update/" + note.id method='POST')
         label Title 
         input.input(type="text" name='title' value=note.title)

         label Description 
         textarea.input(type="text" name="description") #{note.description}

         button.btn Update the note
            